pandas==2.3.3
numpy==2.3.4
scipy==1.16.3
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
jupyterlab==4.4.10
ipykernel==7.1.0
nbformat==5.10.4
nbclient==0.10.2
nbconvert==7.17.1
joblib==1.5.2
fastapi==0.121.2
uvicorn==0.38.0
pydantic==2.12.4
pyarrow==21.0.0
openpyxl==3.1.5
pypdf==6.1.1
pytest==8.4.2
httpx==0.28.1
